/Exa_01_WebAppIntro/target/
/Exa_01_WebAppIntro/nbproject/
/Exa_102_Gaestebuch/target/
/Exa_103_StudentList/target/
/2021/Exa_105_Pizzaservice/target/
/Exa_jdbc/Exa_01_WebAppIntro/nbproject/
/Exa_jdbc/Exa_01_WebAppIntro/target/
/Exa_jdbc/Exa_102_Gaestebuch/target/
/Exa_jdbc/Exa_103_StudentList/target/
/Exa_jdbc/Exa_503_booksdb/build/
/Exa_jdbc/Exa_503_booksdb/nbproject/private/
/Exa_jdbc/Exa_db_development/build/
/Exa_jdbc/Exa_db_development/nbproject/private/
/Exa_jdbc/exa_406_Bruteforce/build/
/Exa_jdbc/exa_406_Bruteforce/nbproject/private/
/Exa_jdbc/exa_501_MitarbeiterDB/build/
/Exa_jdbc/exa_501_MitarbeiterDB/nbproject/private/
/Exa_jdbc/exa_502_JDBC_SchoolDB/build/
/Exa_jdbc/exa_502_JDBC_SchoolDB/nbproject/private/
/Exa_webapp/Exa_102_Gaestebuch/target/
