@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
}
.container{
    
}
.weatherContainer{
    
}
.weatherContainer td{
    width: max-content;
}
.header{
    margin-bottom: 4em;
}
.searchbar{
    margin: 2em;
}
